.search-user-form {
    width: 70%;
    margin: 0 auto;
    padding-top: 2vw;
    display: flex;
    align-items: stretch;
    height: 4vw;
}

.search-user-form input {
    margin: 0;
    width: 90%;
    height: 100%;
    border: 2px solid #0097B3;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
}

.search-user-form button {
    width: 10%;
    height: 100%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-img-container img {
    height: 2vw;
}

.search-all-users-container {
    width: 80%;
    margin: 3vw auto;
}

.no-results{
    font-size: 1.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.user-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw 0 2vw 2vw;
    margin: 2vw 0;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.39);
    width: 98%;
    text-align: left;
}

.user-buttons {
    display: flex;
    justify-content: flex-end;
}

.user-buttons button {
    margin-right: 2vw;
}

