.user-page-container {
    width: 80%;
    margin: 0 auto;
    padding: 2vw 0 0 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.user-page-container h1 {
    font-size: 1.6vw;
    margin-top: 0.6vw;
    margin-bottom: 2vw;
    text-align: left;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.39);
    width: 90%;
    text-align: left;
}

.user-info-container p {
    line-height: 2vw;
    text-align: left;
}
