.add-analysis-container {
    padding: 0;
}

.add-analysis-form-container{
    width: 40%;
    margin: 0 auto;
    padding-top: 1.8vw;
}


.add-analysis-form{
    display: flex;
    flex-direction: column;
}

.add-analysis-form *{
    font-family: Arial, sans-serif;
    margin: 0.5vw;
    resize: none;
}

.notification{
    margin: 1vw;
    font-size: 1.2vw;
}

.success{
    color: green;
}
.error{
    color: red;
}

