.search-form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    height: 4vw;
}

.search-form input {
    margin: 0;
    width: 90%;
    height: 100%;
    border: 2px solid #0097B3;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
}

.search-form button {
    width: 10%;
    height: 100%;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-img-container img {
    height: 2vw;
}

.search-all-patients-container {
    width: 100%;
    margin: 3vw 0;
}
