.search-form {
    width: 70%;
    margin: 0 auto;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    height: 4vw;
}

.search-form input {
    margin: 0;
    width: 68%;
    height: 100%;
    border: 2px solid #0097B3;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
}

.search-form .search-img-container{
    width: 10%;
    height: 100%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-patient-container{
    display: flex;
    margin-left: 2vw;
}

.add-patient button{
    width: 20%;
    margin-left: 2vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-img-container img {
    height: 2vw;
}

.search-all-patients-container {
    width: 100%;
    margin: 3vw 0;
}

.no-results{
    font-size: 1.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

