.edit-examination-container, .add-examination-container {
    padding: 0;
}

.edit-examination-form-container, .add-examination-form-container{
    width: 40%;
    margin: 0 auto;
    padding-top: 1.8vw;
}

.edit-examination-form-container .edit-examination-form,
.add-examination-form-container .add-examination-form{
    display: flex;
    flex-direction: column;
}

.edit-examination-form *, .add-examination-form *{
    font-family: Arial, sans-serif;
    margin: 0.5vw;
    resize: none;
}

.notification{
    margin: 1vw;
    font-size: 1.2vw;
}

.success{
    color: green;
}
.error{
    color: red;
}

