body{
  margin: 0;
  padding: 0;
  background-image: url("../src/assets/background0.png");
}

button{
  border:none;
  color: white;
  transition: background-color ease-in 0.3s;
  padding: 1vw 1vw 1vw 1vw;
  font-size: 1.2vw;
  border-radius: 15px;
  background-color: #0097B3;
}

button:hover{
  transition: background-color ease-in 0.3s;
  background-color: #00afcf;
}

input, textarea{
  outline:none;
  border-radius: 15px;
  transition: border-color ease-in 0.5s;
  border: 1px solid #919191;
  padding: 1vw 1vw 1vw 1vw;
  font-size: 1.2vw;
}

input:focus, textarea:focus{
  border: 1px solid #0097B3;
  transition: border-color ease-in 0.7s;
}

p{
  font-family: Arial, sans-serif;
  font-size: 1.2vw;
  margin: 0;
}



